
@{
    ViewData["Title"] = "Contact";
}

<h3>Hello Dear User Contact Us Here...</h3>
<p>Contact Us= <a href="https://twitter.com/Miracgunes9">TWİTTER</a></p>
<p>Contact Us= <a href="https://github.com/Miracgns">GITHUB</a></p>
<p>Contact Us= <a>05397497832</a></p>

