
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h5>Thıs is the View page I made</h5>
<table>
    <tr>    
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tr>
        <td>2</td>
        <td>Mirac</td>
        <td>Front-End</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ahmet</td>
        <td>Game-Developer</td>
    </tr>
</table>