
<div class="tech-btm widget_social">
    <h4>Our Social Media Accounts</h4>
    <ul>

        <li>
            <a class="twitter" href="https://twitter.com/Miracgunes9">
                <i class="fab fa-twitter"></i>
                <span class="count"></span> Twitter Followers
            </a>
        </li>
        <li>
            <a class="facebook" href="https://github.com/Miracgns">
                <i class="fab fa-github"></i>
                <span class="count"></span> Github Followers
            </a>
        </li>
       
        

    </ul>
</div>